<p id="notice"><%= notice %></p>

<p>
  <strong>Internal malicious ip:</strong>
  <%= @micro_incident.internal_malicious_ip %>
</p>

<p>
  <strong>Internal exploit kit:</strong>
  <%= @micro_incident.internal_exploit_kit %>
</p>

<p>
  <strong>Internal malicious url:</strong>
  <%= @micro_incident.internal_malicious_url %>
</p>

<p>
  <strong>Internal malicious resource:</strong>
  <%= @micro_incident.internal_malicious_resource %>
</p>

<p>
  <strong>Internal geographic location:</strong>
  <%= @micro_incident.internal_geographic_location %>
</p>

<p>
  <strong>Internal referrer chian:</strong>
  <%= @micro_incident.internal_referrer_chian %>
</p>

<p>
  <strong>Internal mal exe:</strong>
  <%= @micro_incident.internal_mal_exe %>
</p>

<p>
  <strong>Internal mal jar:</strong>
  <%= @micro_incident.internal_mal_jar %>
</p>

<p>
  <strong>Internal mal pdf:</strong>
  <%= @micro_incident.internal_mal_pdf %>
</p>

<p>
  <strong>Internal mal xls:</strong>
  <%= @micro_incident.internal_mal_xls %>
</p>

<p>
  <strong>Internal mal doc:</strong>
  <%= @micro_incident.internal_mal_doc %>
</p>

<p>
  <strong>Internal mal eml:</strong>
  <%= @micro_incident.internal_mal_eml %>
</p>

<p>
  <strong>Incident:</strong>
  <%= @micro_incident.incident %>
</p>

<%= link_to 'Edit', edit_micro_incident_path(@micro_incident) %> |
<%= link_to 'Back', micro_incidents_path %>
